<div class="max-w-7xl mx-auto px-4 py-10">
  <h1 class="text-3xl font-bold mb-6 text-gray-900">🔥 Popular TV Shows</h1>

  @if (tvShows.length > 0) {
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6"
  >
    @for (tv of tvShows; track tv.id) {
    <div class="p-col-12 p-md-4 p-lg-3">
      <app-tv-card
        [tvShow]="tv"
        type="tv"
        (cardClick)="navigateToDetails(tv.id)"
      ></app-tv-card>
    </div>
    }
  </div>

  <div class="flex justify-center mt-10">
    <p-paginator
      [rows]="20"
      [totalRecords]="totalResults"
      [rowsPerPageOptions]="[20]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
  } @else {
  <p class="p-text-500">Loading TV Shows...</p>
  }
</div>
