@if (movie) {
<!-- movie details -->
<div class="grid justify-center px-4 pt-5">
  <!-- Left: Poster -->
  <div class="col-12 sm:col-6 md:col-5">
    <p-card class="w-full">
      <img
        [src]="getImageUrl(movie.poster_path)"
        [alt]="movie.title"
        class="shadow-4 w-full"
        style="border-radius: 12px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)"
      />

      <button
        pButton
        class="button-text mt-3 w-full shadow-3"
        (click)="toggleWishlist()"
        [label]="isInWishlist() ? 'Remove from Wishlist' : 'Add to Wishlist'"
        [icon]="isInWishlist() ? 'pi pi-heart-fill' : 'pi pi-heart'"
        [severity]="isInWishlist() ? 'danger' : 'primary'"
      ></button>
    </p-card>
  </div>

  <!-- Right: Details -->
  <div class="col-12 sm:col-6 md:col-7">
    <p-card>
      <ng-template pTemplate="header" class="px-3">
        <h2 class="mb-0 mt-5 px-3">{{ movie.title }}</h2>
        <p class="text-gray-400 mb-0 px-3">
          {{ movie.release_date | date : "MMM dd, yyyy" }}
        </p>
        <!-- Rating Section -->
        <div class="flex align-items-center gap-3 mb-0 p-3">
          <p-rating
            [ngModel]="getRatingStars()"
            [readonly]="true"
            [stars]="5"
            styleClass="custom-rating"
          >
          </p-rating>
          <span class="text-600 font-semibold"
            >({{ movie.vote_count | number }} votes)</span
          >
        </div>
        <!-- <p class="text-gray-400 mb-0 ">{{ movie.tagline }}</p> -->
      </ng-template>

      <p class="movie-overview text-700 line-height-3 mt-0 mb-4 text-lg">
        {{ movie.overview }}
      </p>

      <p-divider></p-divider>
      <!-- Movie Genres -->
      <div class="flex flex-wrap gap-2">
        @for (genre of movie.genres; track genre.id) {
        <p-chip
          [label]="genre.name"
          styleClass="genre-chip"
          class="bg-yellow-400"
        >
        </p-chip>
        }
      </div>

      <p-divider></p-divider>

      <!-- Movie Details Grid -->
      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="flex align-items-center gap-2">
            <span class="font-semibold text-600">Duration:</span>
            <span class="text-900">{{ movie.runtime }} Min.</span>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="flex align-items-center gap-2">
            <span class="font-semibold text-600">Languages:</span>
            <span class="text-900">English</span>
          </div>
        </div>
      </div>

      <p-divider></p-divider>

      <!-- Production Company -->
      @if (movie.production_companies && movie.production_companies.length > 0)
      {
      <div class="flex flex-wrap gap-3 mb-5 py-2">
        <img
          [src]="
            'https://image.tmdb.org/t/p/w200' +
            movie.production_companies[0].logo_path
          "
          [alt]="movie.production_companies[0].name"
          class="max-w-8rem max-h-4rem"
          style="object-fit: contain"
        />
        <!-- <p-chip
          [label]="movie.production_companies[0].name"
          styleClass="production-chip"
          class="bg-white"
        >
        </p-chip> -->
      </div>
      }@else if (movie.production_companies && movie.production_companies.length
      > 0) {
      <div class="mb-5">
        <p-chip
          [label]="movie.production_companies[0].name"
          styleClass="production-chip"
          class="bg-blue-100"
        >
        </p-chip>
      </div>
      }

      <!-- Website Link -->
      @if (movie.homepage) {
      <div class="my-5">
        <a
          [href]="movie.homepage"
          target="_blank"
          class="website-link border-yellow-400 text-900 font-semibold transition-colors transition-duration-200 no-underline border-1 border-round-xl p-3"
        >
          <i class="pi pi-external-link mr-2"></i>
          Website
        </a>
      </div>
      }
    </p-card>
  </div>
</div>

<!-- recommended movies and reviews -->
<div class="grid justify-center px-4">
  <!-- Recommendations -->
  <p-card class="mt-5">
    <ng-template pTemplate="header">
      <h2 class="mb-2 px-3 line-height-3">Recommended Movies</h2>
    </ng-template>

    <div class="grid">
      @for (rec of recommendations; track rec.id) {
      <div class="col-6 sm:col-4 md:col-3 lg:col-2">
        <app-movie-card
          [item]="rec"
          type="movie"
          (click)="navigateToDetails(rec.id)"
        >
        </app-movie-card>
      </div>
      }
    </div>
  </p-card>

  <!-- Reviews -->
  <p-card class="mt-5">
    <ng-template pTemplate="header">
      <h2 class="mb-2 px-3 line-height-3">Reviews</h2>
    </ng-template>

    @if (reviews.length) { @for (review of reviews; track review.id) {
    <div class="mb-4 p-3 border-round border-1 shadow-1">
      <p>
        <strong class="text-yellow-500 text-lg pr-1">{{
          review.author
        }}</strong>
        •
        <i class="text-sm pl-1">{{ review.created_at | date }}</i>
      </p>
      <p>{{ review.content }}</p>
    </div>
    } } @else {
    <p class="text-secondary">No reviews found.</p>
    }
  </p-card>
</div>
}
