.styled-letter {
  display: inline-block;
  color: rgb(15, 171, 15);
  border: 1px solid rgb(15, 171, 15);
  border-radius: 0 10px 0 10px;
  padding: 0 7px;
  margin: 0 1px;
}
.wishlist-btn {
  position: relative;

  ::ng-deep .p-badge {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 18px;
    height: 18px;
    transform: translate(50%, -50%);
    z-index: 1;
  }

  // Only color the icon
  ::ng-deep .p-button-icon {
    color: #000 !important;
  }

  &.p-button-text {
    color: inherit;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
}
.clicked-tab.p-button-outlined {
  background-color: rgb(13, 165, 13) !important;
  border-radius: 10px;

  ::ng-deep .p-button-icon {
    color: #fff !important;
  }
  ::ng-deep .p-button-label {
    color: #fff !important;
  }
}
.clicked-tab.p-button-outlined:hover {
  background-color: darkgreen !important;
}
