:host {
  display: block;

  p-card {
    cursor: pointer;
    transition: box-shadow 0.3s;
  }

  p-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  img {
    border-radius: 6px;
  }
}
