<p-card
  (click)="onCardClick()"
  class="p-mb-4 p-cursor-pointer p-shadow-2 p-hover-shadow-4"
>
  @if (tvShow) {
    <img
      [src]="getImageUrl(tvShow.poster_path)"
      [alt]="tvShow.name"
      class="p-mb-3 p-rounded"
      style="width: 100%; height: 320px; object-fit: cover"
    />

    <ng-template pTemplate="title">
      <div class="p-text-bold p-mb-1">{{ tvShow.name }}</div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="p-text-secondary">{{ tvShow.first_air_date }}</div>

      <button
        pButton
        type="button"
        icon="pi pi-heart"
        label="Wishlist"
        class="p-button-text p-mt-2"
        (click)="toggleWishlist($event)"
      ></button>
    </ng-template>
  }
</p-card>
