<!-- Animated Background Container -->
<div class="animated-icons-background">
  <span class="movie-icon">🎬</span>
  <span class="movie-icon">🎥</span>
  <span class="movie-icon">🍿</span>
  <span class="movie-icon">⭐</span>
  <span class="movie-icon">🎞️</span>

  <span class="movie-icon">🎥</span>
  <span class="movie-icon">🍿</span>
  <span class="movie-icon">✨</span>
  <span class="movie-icon">🎬</span>
</div>



<app-navbar></app-navbar>
<main class="min-h-screen">
  <router-outlet></router-outlet>
</main>
<p-toast position="top-right"></p-toast>
