<!-- search box -->
<app-search (search)="handleSearch($event)"></app-search>
<!-- if there are search results -->
@if (searchResults.length > 0) {
<!-- Search Results -->
<div
  style="width: 95%; margin: auto"
  class="flex justify-content-between flex-wrap gap-2 py-10"
>
  @for (movie of searchResults; track movie.id) {
  <app-movie-card
    [item]="movie"
    type="movie"
    (click)="navigateToDetails(movie.id)"
  ></app-movie-card>
  }
</div>
<!-- if there aren't a search result to render -->
} @else if (searchQuery.length > 0) {
<p class="text-center text-lg text-gray-500 py-10">
  No results found for “{{ searchQuery }}”.
</p>
<!-- if i don't write anything in the search field -->
}@else if (movies.length > 0) {
<!-- movies list main page -->
<div class="px-4 py-10">
  <h1 class="text-3xl font-bold mb-6 text-gray-900">🎬 Now Playing</h1>

  <div
    style="width: 95%; margin: auto"
    class="flex justify-content-between flex-wrap gap-2 py-10"
  >
    @for (movie of movies; track movie.id) {
    <app-movie-card
      [item]="movie"
      type="movie"
      (click)="navigateToDetails(movie.id)"
    ></app-movie-card>
    }
  </div>

  <div class="flex justify-center mt-10">
    <p-paginator
      [rows]="20"
      [totalRecords]="totalResults"
      [rowsPerPageOptions]="[20]"
      (onPageChange)="onPageChange($event)"
    >
    </p-paginator>
  </div>
</div>
} @else {
<p class="p-text-500">Loading Movies list...</p>
}
