<div class="my-3 py-3 pl-3 bg-green-100">
  <h1>Welcome to our movie app</h1>
  <p>Millions of movies, TV shows and people to discover. Explore now.</p>
  <div class="flex items-center justify-center w-full p-inputgroup">
    <input
      type="text"
      pInputText
      [(ngModel)]="query"
      placeholder="Search movies..."
      (keyup)="onKeyUp($event)"
      (keydown.enter)="onSearch()"
      class="search-input border-none border-round-lg p-2"
      style="width: 40%"
    />
    <button
      pButton
      class="search-button bg-yellow-400 border-none text-900"
      icon="pi pi-search"
      label="Search"
      (click)="onSearch()"
      style="margin-left: -100px; border-radius: 0 10px 10px 0"
    ></button>
  </div>
</div>
